.purchase-type {
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
	background-color: rgba(135, 51, 193, 0.1);
}

.bigger-font {
	font-size: 5vh;
}

.checkout-table {
	width: 100%;
	margin-bottom: 2rem;
}

td {
	text-align: center;
}

.checkout-buy-option {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	height: 50px;
	width: 70px;
	font-size: 5vh;
}

.retail-button {
	font-size: 4rem;
}

.wholesale-button {
	font-size: 4rem;
}

@media  only screen and (min-width : 600px) {
	.bigger-font {
		font-size: 33px;
	}	
}