<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unite!</title>
    <base href="/">
</head>
<body class="login-page">
	<mat-spinner *ngIf="showSpinner"></mat-spinner> 

	<section class="row banner">
		<img src="../assets/unite-logo-2.svg">
	</section>	

	<section class="row internet-identity">
		<button type="button" (click)="iiLogin()" [disabled]="loginInProgress">Login With Face, Touch, etc.</button>
	</section>

	<section class="row middle-text"> OR </section>

	<section class="row traditional-login">
		<input type="text" placeholder="Your phone number">
		<br>
		<input type="password" placeholder="Your 6-digit passcode">
		<br>
		<button type="submit">LOGIN</button>
	</section>

	<section class="row register" id="console">
		<!--
		<button class="clear-button" type="submit" (click)="iiLogin()">New User? REGISTER!</button>
		-->
	</section>

<!-- 
    <section>
		<div>
        	<button type="button" style='width: 100%; height: 3em; margin: 2em;' (click)="postmanEcho()">Test via Postman!</button>
		</div>
		<p>
    </section>

	<section>
		<div>
        	<button type="button" style='width: 100%; height: 3em;margin: 2em;'  (click)="listAllUsers()">List All Users</button>
		</div>
		<p>
    </section>

	<section>
		<div>
			<button type="button" style='width: 100%; height: 3em; margin: 2em;' (click)="iiLogin2()">II LOGIN</button>
		</div>
		<p>
	</section>

	<section>
		<div>
        	<button type="button" style='width: 100%; height: 3em;margin: 2em;' (click)="registerThisUser()">REGISTER </button>
		</div>
	</section>

	<section>
		<div>
			<button style='width: 100%; height: 3em;'  type="button" (click)="logout()">LOGOUT</button>
		</div>
		<p>
	</section>
    <section id="greeting"></section>
	<p></p>

	<section id="console"></section>
-->

</body>
</html>