<main class="login-page">
	<section class="row banner">
		<img src="../assets/unite-logo-2.svg"> 
		<!-- developing on localhost: for whatever reason unless we load images on this login/landing page they will not show up on any other page...so we need to "preload" here-->
		<div style="display: none;">
			<img src="../assets/ios-contact.svg"> 	
		</div>
	</section>	

	<section class="row internet-identity">
		<button id="iiLogin" class="login-button" type="button" (click)="iiLogin('iiLogin')" [disabled]="loginInProgress">Login With Face, Touch, Security Key</button>
	</section>

	<section class="row middle-text invisible"> OR </section>

	<section class="row traditional-login invisible">
		<input type="text" placeholder="Your phone number" [(ngModel)]="phone"/>
		<br>
		<input type="password" placeholder="Your 6-digit passcode" [(ngModel)]="password"/>
	</section>
	<section class="row traditional-login-button invisible">
		<button id='trad-login' (click)="loginByName('trad-login')" class="login-button" type="submit" [disabled]="loginInProgress">LOGIN</button>
	</section>

	<section class="row register" id="console"></section>
</main>