.centered {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.inputs-row {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

input {
	height: 10rem;
	width: 8rem;
	text-align: center;
	font-size: 4rem;
	margin: 1px;
}

.bigger-font {
	font-size: 3vh;
}