<main class="centered bigger-font">
	<header>
		<h2>Your delivery has arrived!</h2> 
		<h3>If you are satisfied with the items please generate your code (below) and give it to the supplier/delivery agent.</h3>
	</header>
	<section class="inputs-row">
		<input type="number" id="0">	
		<input type="number" id="1">	
		<input type="number" id="2">	
		<input type="number" id="3">	
		<input type="number" id="4">	
		<input type="number" id="5">	
	</section>

	<button type="button" class="unite-button big-button bigger-font" (click)="generateCode()">Generate Code</button>
</main>