.data-page {
	display: grid;
	grid-template-rows: repeat(5, auto);
	grid-template-columns: 1fr;
}

.row {
	display: flex;
	align-items: center;
	justify-content: center
}

.banner {
	grid-row: 1;
}

.page-message {
	grid-row : 2;
	padding-left: 10%;
	padding-right: 10%;
}

.simple-form {
	grid-row : 3 / 5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.submit-button {
	grid-row : 5;
}

input {
	padding-left: 10%;
}

@media only screen and (max-width: 599px) {
	body {
		font-size: 3.5rem;
	}

	.data-page {
		display: grid;
		grid-template-rows: repeat(5, 16vh);
		grid-template-columns: 1fr;
	}	

	input {
		height: 8rem;
	}

	input::placeholder {
		font-size : 4rem;
		font-style: italic;
	}
}