<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Unite!</title>
    <base href="/">
</head>
<body class="data-page">
	<section class="row banner">
	</section>	

	<section class="row page-message">
		One more step! Please provide {{missingFields}} below:
	</section>
	<br>

	<form class="simple-form">
		<input #firstname type="text" [style.visibility]="showFirstname" [required]="true" placeholder="Your first name"/>
		<br>
		<input #surname type="text" [style.visibility]="showSurname" [required]="true" placeholder="Your surname"/>
		<br>
		<input #phone type="tel" pattern="^([0-9]{11,})" [style.visibility]="showPhone" [required]="true" placeholder="Phone number"/>
		<br>
	</form>

	<section class="row submit-button" id="console">
		<button class="clear-button" type="submit" (click)="completeRegistration(firstname.value, surname.value, phone.value)">Complete My Registration</button>
	</section>

</body>
</html>