.bigger-font {
	font-size: 4vw;
}

.details-body {
	padding: 0 2vw 0 2vw;
	background-color: rgb(250,250,250);
}

.deal-locality {
	grid-row: 3;
	font-weight: lighter;
	font-style: italic;
	padding: 0 5% 0 5%;
}
.deal-discount {
	grid-row: 4;
	padding: 0% 5% 0% 5%;
	display: flex;
	justify-content: space-between;
	font-size: 1.5rem;
}
.deal-header {
	grid-row: 2;
	padding: 5% 5% 0 5%;
}
.deal-product-name {
	font-size: 4rem;
	font-weight: bolder;
}
.deal-locality {
	font-weight: lighter;
	font-style: italic;
}

.deal-detail-summary {
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: 55% 20% 12.5% 12.5%;
}
.deal-banner {
	grid-row: 1;
	object-fit: cover;
	object-position: center;
	height: 100%;
	width: 100%;
	border-radius: 1vw 1vw 0 0;
}
.deal-price {
	grid-row: 3;
	padding: 0 5% 0 5%;
}

.deal-detail-description-team {
	padding: 0 5% 0 5%;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}
.deal-detail-countdown {
	display: grid;
	grid-template-columns: 57% 43%;
}
.time-summary {
	grid-column: 1;
	color: blue;
	text-align: left;
}
.time-left {
	grid-column: 2;
	text-align: right;
}
.description-header {
	font-size: larger;
	font-weight: bold;
}

.team-status {
	width : 100%;
	display : grid;
	grid-template-columns: 20% 50% 30%;	
	border-bottom: 1px solid lightgray;
	margin: 1rem;
}
.profile-icon {
	grid-column: 1;
	flex-direction: column;
	align-items: center;
	border-radius: 50%;
	max-width: 100%;
}
.team-status-description {
	grid-column: 2;
	display: grid;
	grid-template-rows: 40% 20% 40%;
}
.team-status-actions {
	grid-column: 3;
	display: grid;
	grid-template-rows: 50% 50%;
}

.team-status-description-name {
	grid-row: 1;
}
.team-status-description-progress {
	grid-row: 2;
	width: 100%;
}
.team-status-description-actions {
	grid-row: 3;
}

.team-status-actions-button {
	grid-row: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.team-status-actions-remainder {
	grid-row: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.small-button {
	font-size: 1rem;
	height: 2rem;
}

.unite-button-clear {
	color: var(--highlight-color);
	font-size: 1.3rem;
	background-color: white;
	border: 0.2rem solid var(--highlight-color);
	border-radius: 0.3rem;
	padding: 0.1rem;
	width: 80%;
	height: 3.5rem;
}

.floating-bottom-section {
	height: 3.6rem;
	width : 100%;
	background-position: 0% 0%;
	position: fixed;
	bottom: 0%;
	left: 0%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.seller-profile-summary {
	padding: 0 2vw 0 2vw;
	display: grid;
	grid-template-columns: 20% 80%;
}
.seller-profile-summary-icon {
	grid-column: 1;
	max-width: 100%;
}
.seller-profile-summary-details {
	grid-column: 2;
	display: grid;
	grid-template-rows: 50% 50%;
}
.seller-profile-summary-details-name {
	grid-row: 1;
	padding-left: 10%;
}
.seller-profile-summary-details-rating {
	grid-row: 2;
	padding-left: 10%;
}

.filled-star {
	color: gold;
}

iframe {
	width: 100%;
}
iframe[seamless] {
	border: none;
}

@media only screen and (min-width : 600px) {
	.bigger-font {
		font-size: 2vw;
	}
	.details-body {
		padding: 0 10% 0 10%;
		background-color: rgb(250,250,250);
	}	

	.deal-detail-summary {
		display: grid;
		grid-template-columns: 50% 50%;
		grid-template-rows: 40% 20% 40%;
	}
	.deal-banner {
		grid-row: 1 / 4;
		grid-column: 1;
		object-fit: cover;
		object-position: center;
		height: 100%;
		width: 100%;
		border-radius: 1vw 1vw 1vw 1vw;
	}
	.deal-header {
		grid-row: 1;
		grid-column: 2;
		padding: 5% 5% 0 5%;
	}
	.deal-product-name {
		font-size: 2rem;
		font-weight: bolder;
	}
	.deal-price {
		grid-row: 2;
		grid-column: 2;
		padding: 5% 5% 0 5%;
		padding: 0 5% 0 5%;
		font-size: 1.5rem;
	}
	.retail-price {
		text-decoration: line-through;
	}
	.deal-discount {
		grid-row: 3;
		grid-column: 2;
		padding: 0% 5% 0% 5%;
		font-size: 1.5rem;
		display: inline;
	}
	.deal-detail-countdown {
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		font-size: 1.5rem;
	}
}