<section class="details-body bigger-font">
	<main>
		<section class="deal-detail-summary">
			<img class="deal-banner" src="{{deal.dealBanner}}">

			<section class="deal-header">
				<span class="deal-product-name">{{deal.productName}}</span>
				&#160;&#160;
				<span class="deal-locality">{{deal.sellerLocality}}</span>	
			</section>

			<section class="deal-price">
				<span class="retail-price">{{deal.retailPrice| currency : 'N'}}</span> {{deal.unitPrice | currency : 'N'}} per {{deal.unit}} &#160;&#160;
				<mark>{{ 1 - deal.unitPrice/deal.retailPrice | percent}} cheaper </mark>
			</section>

		</section>

		<section class="deal-detail-description-team">
			<section class="goal-summary">
				<span class="mission-text">
					UNITE with friends to buy a total of {{deal.dealTargetUnits}} {{deal.unit}}(s) before {{deal.deadline | date : 'fullDate' }}. 
				</span>
			</section>
			<section class="deal-detail-countdown">
				<section class="time-summary"> &#10163; 
					{{ numOfTeams$ | async}}  active teams
				</section>
				<section class="time-left">{{daysLeft(deal.deadline) | number : '1.0-0' }} days Left!</section>
			</section>
			<article class="deal-detail-description">
				<h2>Description</h2>
				<section class="basic-description">
					Organic, freshly-picked Jos tomatoes. Farm to table. Tomatoes are low in calories, high in fiber, and are a good source of vitamin A, C, and B2. 
				</section>
				<section class="basic-terms-conditions">
					Each paint contains at least 10 tomatoes, but exact quantity may vary depending on the particular harvest.
				</section>
			</article>

			<section style="width: 100%;">
				<h2>Teams to Join</h2>
				<div *ngFor="let team of teams$ | async" class="team-status">
					<img class="profile-icon" src="../../../assets/unite-logo-2.svg">
					<div class="team-status-description">
						<div class="team-status-description-name">
							{{team.creator}}'s Team
						</div>
						<progress class="team-status-description-progress" max="10" value="5"></progress>
						<div class="team-status-description-actions">
							&#10163;{{ numOfTeamUnits[team.teamId] }} {{deal.unit}}(s)	
						</div>
					</div>
					<div class="team-status-actions">
						<div class="team-status-actions-button">
							<button class="unite-button join-button" type="button" (click)="checkout(team)">Join Team</button>
						</div>
						<div class="team-status-actions-remainder"> 
							<span *ngIf="stillLoading()">Loading...</span>
							<span *ngIf="!stillLoading()">{{deal.dealTargetUnits - numOfTeamUnits[team.teamId]}} {{deal.unit}}(s) left</span>	
						</div>
					</div>
				</div>
			</section>
		</section>
		<section class="more-deals"></section>
	</main>

	<section class="seller-profile-summary">
		<img class="profile-icon seller-profile-summary-icon" src="../../../assets/ios-contact.svg">
		<div class="seller-profile-summary-details">
			<div class="seller-profile-summary-details-name">
				Seller : {{deal.sellerName}}
			</div>
			<div class="seller-profile-summary-details-rating">
				<span class="filled-star">&#9733;</span>
				<span class="filled-star">&#9733;</span>
				<span class="filled-star">&#9733;</span>
				<span class="filled-star">&#9733;</span>
				<span>&#9734;</span>
			</div>
		</div>
	</section>
	<div class="padding"></div>

	<footer class="floating-bottom-section">
		<button class="unite-button-clear" type="button" (click)="checkout(false)">Buy Wholesale or Create New Team</button>	
	</footer>

</section>